.Red {
    border-radius: 50%;
    background-color: red;
    width: 200px;
    height: 200px;
}

.Yellow {
    border-radius: 50%;
    background-color: yellow;
    width: 200px;
    height: 200px;
}

.Green {
    border-radius: 50%;
    background-color: rgb(49, 182, 49);
    width: 200px;
    height: 200px;
}

.Estructura {
    background-color: black;
    width: 220px;
}